<div class="card-container">
  <!-- Header -->
  <div class="card-header flex items-center justify-between">
    <h2 class="text-lg font-semibold text-gray-800 dark:text-white">
      {{ editing ? 'Editar Permiso' : 'Crear Permiso' }}
    </h2>

    <div class="flex items-center gap-2">
      <!-- Botón Nuevo (secondary) -->
      <button (click)="onNewClick()" class="btn btn-secondary text-sm">
        + Nuevo
      </button>

      <!-- Chevron toggle -->
      <button (click)="toggle.emit()" class="transition-transform duration-300" [class.rotate-180]="isOpen">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-500 dark:text-gray-400" fill="none"
          viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
        </svg>
      </button>
    </div>
  </div>

  <!-- Body -->
  @if (isOpen) {
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" class="flex flex-col space-y-4">
      <!-- Nombre -->
      <app-input-field id="name" name="name" placeholder="Nombre del permiso" [(value)]="model.name"
        required></app-input-field>

      <app-input-field id="description" name="description" placeholder="Descripción del permiso"
        [(value)]="model.description"></app-input-field>

      <app-input-field id="category" name="category" placeholder="Categoria del permiso"
        [(value)]="model.category"></app-input-field>


      <div class="flex justify-end gap-3">
        <button type="button" (click)="onCancelClick()" class="btn btn-secondary">
          Cancelar
        </button>
        <button type="submit" class="btn btn-success">
          Guardar
        </button>
      </div>
    </form>

  </div>
  }
</div>